.paragraph {
  align-content: center;
  font-family: "Apple SD Gothic Neo";
}

#search_form {
  margin: 0 auto;
}
#label_for_search {
   font-size: 45px;
   font-family: "Apple SD Gothic Neo";

}
.navbar navbar-inverse{
  width: auto;
}
